<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pablocantero.screenshots.dropbox</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>75F88D86-ABF3-4BE8-8F2C-BD33C97CD3FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F9E5FBA-8218-43A3-95AF-F612BF4E7765</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>893CDFA0-3460-48DF-ACD1-DCFDE8AC08F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>89729369-BBBC-48B4-9A1D-7687B51E083E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75F88D86-ABF3-4BE8-8F2C-BD33C97CD3FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pablo Cantero</string>
	<key>description</key>
	<string>Take public Dropbox screeenshots</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dropbox Screeenshots</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"5"</string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89729369-BBBC-48B4-9A1D-7687B51E083E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4F9E5FBA-8218-43A3-95AF-F612BF4E7765</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75F88D86-ABF3-4BE8-8F2C-BD33C97CD3FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Screenshot captured</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>893CDFA0-3460-48DF-ACD1-DCFDE8AC08F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4F9E5FBA-8218-43A3-95AF-F612BF4E7765</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>75F88D86-ABF3-4BE8-8F2C-BD33C97CD3FE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>893CDFA0-3460-48DF-ACD1-DCFDE8AC08F2</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>89729369-BBBC-48B4-9A1D-7687B51E083E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>pablocantero.com</string>
</dict>
</plist>
